body, html {
    margin: 0;
    padding: 0;
}

#themap {
    width: 100vw;
    height: 100vh;
}

div.cartodb-legend-stack {
    margin-bottom: 30px;
    margin-right: -10px;
}

#themap div.divmarker-threeoneone {
    height: 15px !important;
    width: 15px !important;

    line-height: 15px;
    text-align: center;

    border-radius: 50%;
    border: 1px solid black;
    background-color: yellow;
}

#themap div.leaflet-marker-icon.obstruction-marker-icon {
    border-radius: 50%;

    background-color: white;  /* overridden based on classification, see JS code */

    /* border: 1px solid black; */
}
#themap div.leaflet-marker-icon.obstruction-marker-icon.obstruction-marker-icon-focused {
    border: 1px solid black;
    opacity: 0.50;
}
#themap div.leaflet-marker-icon.obstruction-marker-icon.obstruction-marker-icon-crossing {
    background: #b81609;
}
#themap div.leaflet-marker-icon.obstruction-marker-icon.obstruction-marker-icon-curb {
    background: #7b00b4;
}
#themap div.leaflet-marker-icon.obstruction-marker-icon.obstruction-marker-icon-sidewalk {
    background: #136400;
}

#themap .leaflet-popup-content {
    margin: 0;
}
