body, html {
    margin: 0;
    padding: 0;
}

#themap {
    width: 100vw;
    height: 100vh;
}

div.cartodb-legend-stack {
    margin-bottom: 30px;
    margin-right: -10px;
}

#themap div.divmarker-threeoneone {
    height: 15px !important;
    width: 15px !important;

    line-height: 15px;
    text-align: center;

    border-radius: 50%;
    border: 1px solid black;
    background-color: yellow;
}

.leaflet-popup-content {
    margin: 0;
}

div.cartodb-legend.category ul li .bullet, div.cartodb-legend.color ul li .bullet, div.cartodb-legend.custom ul li .bullet {
    width: 15px;
    height: 15px;
}
div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
    height: 15px;
    line-height: 15px;
}
div.cartodb-legend {
    padding: 10px;
}
