.leaflet-control-linklist {
    color: #0D0D0D;
    font-family: Roboto;
    font-size: 14px;
    width: 120px;
}

.leaflet-control-linklist {
    box-shadow: 0px 1px 5px rgba(0,0,0,0.65);
    border-radius: 3px;
    background-color: white;
    font-family: sans-serif;
}

.leaflet-control-linklist > div {
    margin: 5px;
}

.leaflet-control-linklist .leaflet-control-linklist-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.leaflet-control-linklist a.leaflet-control-linklist-link {
    display: block;
    margin-top: .25em;
}
